version: "3.8"

services:
  app:
    build: .
    image: veselica:latest
    environment:
      DB_HOST: db
      DB_USER: uporabnik
      DB_PASS: geslo
      DB_NAME: veselica
    depends_on:
      - db
    restart: unless-stopped
  db:
    image: mariadb:12
    environment:
      MARIADB_ROOT_PASSWORD: geslo
      MARIADB_DATABASE: veselica
      MARIADB_USER: uporabnik
      MARIADB_PASSWORD: geslo
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/mysql-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  
  ssl_proxy:
    image: nginx:latest
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    environment:
      - APP_DOMAIN=your-domain.com
    depends_on:
      - certbot
    restart: unless-stopped
  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot


volumes:
  db_data: