[Unit]
Description=Veselica printer service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/veselica/skript.sh
StandardOutput=tty
TTYPath=/dev/tty2

[Install]
WantedBy=multi-user.target